.plana-gauge-carousel {
  width: 100%;
  overflow: hidden;
}

.plana-gauge-carousel__viewport {
  overflow: hidden;
  width: 100%;
}

.plana-gauge-carousel__track {
  display: flex;
  flex-wrap: nowrap;
}

.plana-gauge-carousel__track--animated {
  will-change: transform;
}

.plana-gauge-carousel__item {
  flex: 0 0 calc(50% - 4px);
  display: flex;
  align-items: center;
}
